<footer class="footer">
  <small>
    <a href="http://intridea.github.io/omniauth/">InTrade System</a>
    <a href="http://www.linkedin.com/in/nebulatide/">Charlie Zeng</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://intridea.github.io/omniauth/">News</a></li>
    </ul>
  </nav>
</footer>